<ion-header padding>
  <ion-title>Control de totales</ion-title>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Cambio</ion-label>
    <ion-input type="number" placeholder="$$$$" [(ngModel)]="cambio"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Total entradas</ion-label>
    <ion-input type="number" placeholder="$$$$" [(ngModel)]="totalVentas"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Subtotal</ion-label>
    <ion-input type="number" placeholder="$$$$" [(ngModel)]="subtotal"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Total Salidas</ion-label>
    <ion-input type="number" placeholder="$$$$" [(ngModel)]="totalSalidas"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Total</b></ion-label>
    <ion-input type="number" placeholder="$$$$" [(ngModel)]="total"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Total efectivo</b></ion-label>
    <ion-input type="number" placeholder="$$$$" [(ngModel)]="totalEfectivo"></ion-input>
  </ion-item>
</ion-content>