<ion-header padding>
  <ion-title>
    Agregue su venta
  </ion-title>

  <ion-item>
    <ion-label>Venta: </ion-label>
    <ion-input type="number" [(ngModel)]="venta" min = "1"></ion-input>    
  </ion-item>
</ion-header>

<ion-content padding>
  <ion-button (click)="saveItem()">Agregar</ion-button>
  <ion-button (click)="resetVentas()">Resetear</ion-button>
  <ion-button (click)="calcularTotal()">Sumar</ion-button>
  <ion-list>
    <ion-item>
      <strong>
        <ion-label>Total de ventas: {{totalVentas}}</ion-label>
      </strong>
    </ion-item>
    <ion-item *ngFor="let venta of ventas">{{venta}}</ion-item>
  </ion-list>
</ion-content>
